@model ProjetoLuisFE.Models.Reserva

@{
    ViewBag.Title = "Detalhes de Reserva";
}

<h2>Detalhe de Reserva</h2>

<div>
    <h4>Reserva de Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipamento_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipamento_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipamentoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipamentoNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ReservaId }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
